<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.zhuoweizhang.chromedarknavbar">

    <overlay android:targetPackage="com.android.chrome"
        android:priority="1"/>
    <application android:label="@string/chromedarknavbar_theme_name" android:hasCode="false"/>
</manifest>
